process {
    // VEP
        withName: 'ENSEMBLVEP_VEP' {
            ext.args         = { [
                '--everything --per_gene --total_length --offline --format vcf --vcf',
            ].join(' ').trim() }
		}
    
}


params {
    // illumina iGenomes reference file paths
    genomes {
        'GATK.GRCh38' {
            bwa                   = "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Sequence/BWAIndex/"
            bwamem2               = "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Sequence/BWAmem2Index/"
            dragmap               = "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Sequence/dragmap/"
            chr_dir               = "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Sequence/Chromosomes/"
            cf_chrom_len          = "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Sequence/Length/Homo_sapiens_assembly38.len"
            dbsnp_vqsr            = '--resource:dbsnp,known=false,training=true,truth=false,prior=2.0 dbsnp_146.hg38.vcf.gz'
            dict                  = "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.dict"
            fasta                 = "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta"
            fasta_fai             = "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.fai"
            known_snps_vqsr       = '--resource:1000G,known=false,training=true,truth=true,prior=10.0 1000G_omni2.5.hg38.vcf.gz'
            known_indels_vqsr     = '--resource:gatk,known=false,training=true,truth=true,prior=10.0 Homo_sapiens_assembly38.known_indels.vcf.gz --resource:mills,known=false,training=true,truth=true,prior=10.0 Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
            snpeff_db             = 105
            snpeff_genome         = 'GRCh38'
            snpeff_version        = '5.1'
            vep_cache_version     = 106
            vep_genome            = 'GRCh38'
            vep_species           = 'homo_sapiens'
            vep_version           = '106.1'
			ascat_genome         : 'hg38'
  			ascat_alleles        : "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Annotation/ASCAT/G1000_alleles_hg38.zip"
  			ascat_loci           : "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Annotation/ASCAT/G1000_loci_hg38.zip"
  			ascat_loci_gc        : "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Annotation/ASCAT/GC_G1000_hg38.zip"
  			ascat_loci_rt        : "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Annotation/ASCAT/RT_G1000_hg38.zip"
  			dbsnp                : "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz"
  			dbsnp_tbi            : "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz.tbi"
  			germline_resource    : "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/af-only-gnomad.hg38.vcf.gz"
			germline_resource_tbi: "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/af-only-gnomad.hg38.vcf.gz.tbi"
			known_indels         : "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz"
			known_indels_tbi     : "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz.tbi"
			known_indels_vqsr    : '--resource:gatk,known=false,training=true,truth=true,prior=10.0 Homo_sapiens_assembly38.known_indels.vcf.gz --resource:mills,known=false,training=true,truth=true,prior=10.0 Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
			known_snps           : "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/1000G_omni2.5.hg38.vcf.gz"
			known_snps_tbi       : "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/1000G_omni2.5.hg38.vcf.gz.tbi"
			mappability          : "/media/pontikos_nas2/MarcosCosta/sarek/references2/Homo_sapiens/GATK/GRCh38/Annotation/Control-FREEC/out100m2_hg38.gem"
        }
	}
}

